.first-part {
    background: #1c1c1c83 $fpBackground;
    background-blend-mode: multiply;
    @include background;
    height: 639px;
    padding-top: 72px;
  }

  .first-part p {
    color: $color1;
    @include font1
  }

  .first-part h1 {
    color: $color1;
    @include font2;
    width: 90%;
  }

  .first-part .btn {
    color: $color1;
    cursor: pointer;
    background: transparent;
    border: 2px solid $color1;
    outline: none;
    width: 135px;
    height: 42px;
    margin-top: 43px;
  }

  .first-part .btn:hover {
    @include cursor;
    color: black;
    background: $color1;
    transition: 0.5s;
  }

  .first-part-footer {
    display: flex;
    justify-content: space-between;
    background: $color1;
    box-shadow: 0px 1px 3px #00000061;
    height: 105px;
  }

  .first-part-footer p {
    color: #86878B;
    @include font3;
    margin-top: 5px;
    width: 80%;
  }

  .first-part-footer h2 {
    color: #333333;
    @include font4;
  }

  .first-part-footer .text {
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: start;
    margin-left: 150px; 
  }

  .first-part-footer .icons {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 108px;
  }
  
  .first-part-main {
    display: flex;
    justify-content: space-between;
  }

  .first-part .intro {
    margin-left: 150px;
    margin-top: 66px;
    width: 651px;
  }
  
