.forth-part {
    display: flex;
    flex-direction: column;
    background: $color1;
    height: 592px;
    text-align: center;
  }
  
  .circle-2 > * {
    background: white;
    border: 1px solid $color5;
    border-radius: 25px;
    width: 50px;
    height: 50px;
    margin: 0 0 35px 0;
  }
  
  .award {
    background: $award;
    @include svgBackground;
  
  }
  .leaf {
    background: $leaf;
    @include svgBackground;
  }
  .visa {
    background: $visa;
    @include svgBackground;
  }
  
  .divider3 {
    background: $divider2;
    width: 64px;
    height: 2px;
  }
  
  .forth-part .first {
    padding: 98px 0 21px 0;
    color: $color8;
    @include font2;
  }
  
  .forth-part p {
    @include font3;
    color: #86878B;
  }
  
  .st-1 {
    display: flex;
    flex-direction: column ;
    justify-content: center;
    align-items: center;
    padding-bottom: 65px;
  }
  
  .forth-part .second {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    margin: auto;
  }
  
  .forth-part .second h1 {
    @include font9;
    color: #333333;
    width: 50%;
  }
  
  .forth-part .second p {
    padding: 0 48px;
  }
  
  #circle-3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  .third {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }