.sixt-part {
    display: flex;
    align-items: center;
    flex-direction: column;
    background: $color1;
    height: 591px;
   
}
  
.sixt-part h1 {
    @include font2;
    color: $color6;
    padding-top: 67px;
}
  
.sixt-part .first {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
  
.divider-5 {
    background: #6696E2;
    width: 64px;
    height: 2px;
    margin: 31px 0;
}
  
.sixt-part .second {
    display: flex;
    flex-direction: row;
    width: 100%;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: end;
    position: relative;
    max-width: 273px;
    max-height: 236px;
    margin: 59px;
}

.container p {
    @include font12;
    color: #FFFFFF;
    max-width: 273px;
    background: #6696E2;
    padding: 20px;
    border-radius: 8px;
    
}

.container p:before {
    content: "";
    position: absolute;
    top: 130px;
    left: 28px;
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
    bottom: 0;
    border:15px solid transparent;
    border-top-color: #6696E2;
}

.face-1 {
    background: $face;
    width: 70px;
    height: 70px;
    margin: 10px;
    margin-top: 20px;
    position: relative;
}

.disc h1{
    @include font9;
    color: #333333;
    margin: auto;
    padding: 0;
}

.disc h3{
    @include font13;
    color: #86878B;
    padding-top: 4px;
}

.disc .name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-left: 5px;
    
}

.disc {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.swiper1 {
    max-width: 1200px;
    height: 380px;
    @include cursor
  }

.swiper-slide {
  display: flex;
  
}

.swiper-button-prev, .swiper-button-next {
  display: none;
  color:$color5;
}
.swiper-button-prev:hover, .swiper-button-next:hover {
  display: none;
  transform: scale(1.2);
  text-shadow: 0 0 5px $color5;
}
  
.swiper-pagination-bullet {
  background: none;
  opacity: 1;
  width: 10px;
  height: 10px;
  border: 1px solid $color5;
  transition: 0.3s;
  margin: 0 10px !important;
}

.swiper-pagination-bullet-active {
  background: $color5;
}

@media (max-width: 1250px){
  .swiper1 {
    width: 60%;
  }
}

@media (max-width: 650px){
  .swiper1 {
    width: 30%;
  }
  .swiper-pagination-bullet {
    display: none;
  }
}