.part-seven {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: $color5;
    height: 573px;
  }
  
  .part-seven-text h1 {
    @include font2;
    color: $color1;
    margin-top: 70px;
  }
  
  .part-seven-text p {
    @include font3;
    color: $color1;
    margin: 50px 0 27px 0;
  }
  
  .part-seven .form {
    display: flex;
    flex-direction: column;
    background: $color1;
    box-shadow: 0px 5px 6px #00000029;
    border-radius: 5px;
    width: 390px;
    height: 314px;
  }
  
  .part-seven input {
    @include  font14;
    color: $color6;
    opacity: 1;
  }
  
  .part-seven .radio-input label{
    opacity: 0.5;
  }
  
  .part-seven .radio-input {
    margin-bottom: 20px;
  }
  
  .part-seven .send {
    @include font15;
    color: $color1;
    width: 158px;
    height: 48px;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 30px;
  }
  
  .last-part-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: $color6;
    height: 124px;
  }
  
  .last-part-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 135px;
  }
  
  .last-part-text p {
    @include font16;
    color: $color1;
    opacity: 0.5;
    margin: 0;
  }
  
  .last-part-footer .icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 120px;
    margin-left: 139px;
  }

  .last-part-footer .icons:hover {
    @include cursor;
  }

  .part-seven input[type="submit"] {
    @include cursor;
    @include font15;
    background: $color2;
    color: $color1;
    width: 158px;
    height: 48px;
    border: none;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 30px;
  }

  .part-seven input[type="submit"]:hover {
    @include cursor;
    background: #196646;
    transition: 0.5s;
  }