.first-part {
    background: #1c1c1c83 url(../images/photo-1480714378408-67cf0d13bc1b.png);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 639px;
    padding-top: 72px;
  }

  .first-part p {
    @include color1;
    font: normal normal 600 16px/23px Montserrat;
  }

  .first-part h1 {
    @include color1;
    font: normal normal 600 36px/43px Montserrat;
    width: 90%;
  }

  .first-part .btn {
    @include color1;
    cursor: pointer;;
    background: transparent;
    border: 2px solid #FFFFFF;
    outline: none;
    width: 135px;
    height: 42px;
    margin-top: 43px;
  }

  .first-part .btn:hover {
    @include cursor;
    color: black;
    background: #FFFFFF;
    transition: 0.5s;
  }

  .first-part-footer {
    display: flex;
    justify-content: space-between;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px #00000061;
    height: 105px;
  }

  .first-part-footer p {
    color: #86878B;
    font: normal normal normal 14px/20px Montserrat;
    margin-top: 5px;
    width: 80%;
  }

  .first-part-footer h2 {
    color: #333333;
    font: normal normal 600 20px/24px Montserrat;
  }

  .first-part-footer .text {
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: start;
    margin-left: 150px; 
  }

  .first-part-footer .icons {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 108px;
  }
  
  .first-part-main {
    display: flex;
    justify-content: space-between;
  }

  .first-part .intro {
    margin-left: 150px;
    margin-top: 66px;
    width: 651px;
  }
  
