.second-part {
    display: flex;
    flex-direction: row;
    align-items: center;
    background:  url(../images/christoffer-engstrom-503481-unsplash.png), linear-gradient(270deg, rgba(102, 150, 226, 0.42), rgba(226, 120, 102, 0.42));
    background-position: center;
    background-blend-mode: lighten;
    background-size: cover;
    @include noRepeat;
    height: 595px;  
  }

  .second-part button {
    @include color1;
    @include fontBold;
    display: flex;
    flex-direction: column;
    margin: 21px;
    margin-left: 150px;
    background: #A37169;
    width: 100px;
    height: 100px;
    border: none;
    box-shadow: 0px 3px 6px #00000029;
  }

  .second-part .isijungiau {
    @include cursor;
    background: #E27866;
    
    span {
      opacity: 1;
    }
  }

 

  .second-part button:hover {
    @include cursor;
    background: #E27866;
    
    span {
      opacity: 1;
    }
  }
  
  .second-part button span {
    margin: auto;
    transform: matrix(0.71, -0.71, 0.71, 0.71, 0, 0);
    font-size: 14px;
    opacity: 0.5;
  }
  
  .second-part-text {
    display: flex;
    @include color1;
    margin-left: 50px;
    margin-right: 150px 
  }
  
  .second-part-text h1 {
    font: normal normal 600 36px/40px Montserrat;
    font-size: 36px;
  }
  
  .second-part-text h3, p {
    font: normal normal normal 14px/20px Montserrat;
    margin-top: 33px;

  }
  
  .second-part-img {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: auto;
    width: 78%;
  }

  .second-part-imgs1 {
    display: flex;
    margin-bottom: 20px;
    gap: 25px;
   
  }
  
  // Pirmo tab nuotraukos

  .cabage {
    display: flex;
    background: url(../images/photo-1493409137604-0901c55e4456.png);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    box-shadow: 0px 3px 6px #00000029;
    width: 168px;
    height: 160px;   
    opacity: 0;
  }

  .salad {
    display: flex;
    background: url(../images/photo-1543364195-bfe6e4932397.png);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    box-shadow: 0px 3px 6px #00000029;
    width: 168px;
    height: 160px;
    opacity: 0;
  }
  
  .steps {
    display: flex;
    background: url(../images/photo-1448387473223-5c37445527e7.png);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    box-shadow: 0px 3px 6px #00000029;
    width: 362px;
    height: 173px;
    opacity: 0;
  }

  .cabage span, .salad span, .steps span {
    font: normal normal 600 20px/24px Montserrat;
    margin: auto;
    justify-content: center;
    align-content: center;
    color: #FFFFFF;
    opacity: 0;
    text-shadow: 0 0 15px blue;
  }
  
  
  .cabage:hover {
    background: url(../images/photo-1493409137604-0901c55e4456.png), rgba(226, 120, 102, 0.8);
    background-blend-mode: lighten;
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    transition: 3s;

    &.cabage span {
      opacity: 1;
      transform: rotate(360deg);
      transition: 2s;
    }
  }

  .salad:hover {
    background: url(../images/photo-1543364195-bfe6e4932397.png), rgba(226, 120, 102, 0.4);
    background-blend-mode: multiply;
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    transition: 3s;

    &.salad span {
      opacity: 1;
      transform: rotate(360deg);
      transition: 2s;
    }
  }

  .steps:hover {
    background: url(../images/photo-1448387473223-5c37445527e7.png), rgba(226, 120, 102, 0.8);
    background-blend-mode: multiply;
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
    transition: 3s;

    &.steps span {
      opacity: 1;
      transform: rotate(360deg);
      transition: 2s;
    }
  }

  // Antro tab nuotraukos

  .laptop {
    display: flex;
    background: url(../images/magnet-me-8vPico29onA-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 3px 6px #00000029;
    width: 168px;
    height: 160px;   
    opacity: 0;
  }

  .doit {
    display: flex;
    background: url(../images/brett-jordan-0jIovxJj7pY-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 3px 6px #00000029;
    width: 168px;
    height: 160px;
    opacity: 0;
  }
  
  .alvin {
    display: flex;
    background: url(../images/alvin-balemesa-MYfq3tf34p8-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 3px 6px #00000029;
    width: 362px;
    height: 173px;
    opacity: 0;

  }

  .laptop span, .doit span, .alvin span {
    font: normal normal 600 20px/24px Montserrat;
    margin: auto;
    justify-content: center;
    align-content: center;
    color: #FFFFFF;
    text-shadow: 0 0 15px blue;
    opacity: 0;
  }
  
  
  .laptop:hover {
    background: url(../images/magnet-me-8vPico29onA-unsplash.jpg), rgba(226, 120, 102, 0.8);
    background-blend-mode: lighten;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 3s;

    &.laptop span {
      opacity: 1;
      transform: rotate(360deg);
      transition: 2s;
    }
  }

  .doit:hover {
    background: url(../images/brett-jordan-0jIovxJj7pY-unsplash.jpg), rgba(226, 120, 102, 0.4);
    background-blend-mode: lighten;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 3s;

    &.doit span {
      opacity: 1;
      transform: rotate(360deg);
      transition: 2s;
    }
  }

  .alvin:hover {
    background: url(../images/alvin-balemesa-MYfq3tf34p8-unsplash.jpg), rgba(226, 120, 102, 0.8);
    background-blend-mode: lighten;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 3s;

    &.alvin span {
      opacity: 1;
      transform: rotate(360deg);
      transition: 2s;
    }
  }

  // Trecio tab nuotraukos

  .citrina {
    display: flex;
    background: url(../images/le-petale-studio-GeGf2NHNLcw-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 3px 6px #00000029;
    width: 168px;
    height: 160px;   
    opacity: 0;
  }

  .flower {
    display: flex;
    background: url(../images/nur-alamin-LZI4MLL085g-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 3px 6px #00000029;
    width: 168px;
    height: 160px;
    opacity: 0;
  }
  
  .rankinukas {
    display: flex;
    background: url(../images/tamara-bellis-IwVRO3TLjLc-unsplash.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 3px 6px #00000029;
    width: 362px;
    height: 173px;
    opacity: 0;

  }

  .citrina span, .flower span, .rankinukas span {
    font: normal normal 600 20px/24px Montserrat;
    margin: auto;
    justify-content: center;
    align-content: center;
    color: #FFFFFF;
    opacity: 0;
    text-shadow: 0 0 15px blue;
  }
  
  
  .citrina:hover {
    background: url(../images/le-petale-studio-GeGf2NHNLcw-unsplash.jpg), rgba(226, 120, 102, 0.8);
    background-blend-mode: lighten;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 3s;

    &.citrina span {
      opacity: 1;
      transform: rotate(360deg);
      transition: 2s;
    }
  }

  .flower:hover {
    background: url(../images/nur-alamin-LZI4MLL085g-unsplash.jpg), rgba(226, 120, 102, 0.4);
    background-blend-mode: lighten;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 3s;

    &.flower span {
      opacity: 1;
      transform: rotate(360deg);
      transition: 2s;
    }
  }

  .rankinukas:hover {
    background: url(../images/tamara-bellis-IwVRO3TLjLc-unsplash.jpg), rgba(226, 120, 102, 0.8);
    background-blend-mode: lighten;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    transition: 3s;

    &.rankinukas span {
      opacity: 1;
      transform: rotate(360deg);
      transition: 2s;
    }
  }

  .tekstas {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    padding-right: 10px;
  }

  .tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    opacity: 0;
  }

  .tabAnimation {
    opacity: 1;
    transition: 2s;
}

  .imgAnimation {
    opacity: 1;
    transition: 3s;
  }

  .tab {
    display: none;
  }
  
  .block {
    display: flex;
    justify-content: space-between;
  }


