$nav-img: url(../images/cheshire-county-hygiene-services.png);
$first-part-img: url(../images/cheshire-county-hygiene-services@2x.png);
$divider-img: url(../images/divider_white_u72.png);
$icons-img1: url(../images/facebook-logo.svg);
$icons-img2: url(../images/instagram-logo.svg);
$icons-img3: url(../images/twitter.svg);
$icons-img4: url(../images/pinterest.svg);
$icons-img5: url(../images/wifi-solid.svg);
$fpBackground: url(../images/photo-1480714378408-67cf0d13bc1b.png);
$spBackground: url(../images/christoffer-engstrom-503481-unsplash.png);
$cabage: url(../images/photo-1493409137604-0901c55e4456.png);
$salad: url(../images/photo-1543364195-bfe6e4932397.png);
$steps: url(../images/photo-1448387473223-5c37445527e7.png);
$laptop: url(../images/magnet-me-8vPico29onA-unsplash.jpg);
$doit: url(../images/brett-jordan-0jIovxJj7pY-unsplash.jpg);
$alvin: url(../images/alvin-balemesa-MYfq3tf34p8-unsplash.jpg);
$citrina: url(../images/le-petale-studio-GeGf2NHNLcw-unsplash.jpg);
$flower: url(../images/nur-alamin-LZI4MLL085g-unsplash.jpg);
$rankinukas: url(../images/tamara-bellis-IwVRO3TLjLc-unsplash.jpg);
$logo: url(../images/cheshire-county-hygiene-services@2x.png);
$divider: url(../images/divider_orange_u74.svg);
$divider2: url(../images/divider_orange_u73.svg);
$divider3: url(../images/divider_orange_u7.png);
$eye: url(../images/eye-regular.svg);
$chat: url(../images/comment-regular.svg);
$award: url(../images/award-solid.svg);
$leaf: url(../images/spa-solid.svg);
$visa: url(../images/cc-visa.svg);
$face: url(../images/avatar_2_u231.png);


$color1: #FFFFFF;
$color2: #41D395;
$color3: #F5F5F5;
$color4: #333333;
$color5: #E27866;
$color6: #1C1C1C;
$color7: #D8D8D8;
$color8: #212121;
