$nav-img: url(../images/cheshire-county-hygiene-services.png);
$first-part-img: url(../images/cheshire-county-hygiene-services@2x.png);
$divider-img: url(../images/divider_white_u72.png);
$icons-img1: url(../images/facebook-logo.svg);
$icons-img2: url(../images/instagram-logo.svg);
$icons-img3: url(../images/twitter.svg);
$icons-img4: url(../images/pinterest.svg);
$icons-img5: url(../images/wifi-solid.svg);